// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//#admin-page {
//
//  padding-top:-70px;
//
//
//}


#nested-comment{

  margin-top:60px;


}

.comment-reply {

  display: none;
  
  
}

.card-product:after {
  content: "";
  display: table;
  clear: both;
  visibility: hidden; 
}

